<body>
<div class="card">
  <div class="card-content">
    <form (ngSubmit) = onSubmit() class="col s6">
      <p></p>
        <div class="alert alert-warning col s6" role="alert">About Yourself</div>
        <div class="input-group col s6">
          <div class="input-group-prepend">
            <span class="input-group-text" id="names">First and last name</span>
          </div>
          <input type="text" [(ngModel)] = 'pro.fName' name='fName' class="form-control">
          <input type="text" [(ngModel)] = 'pro.lName' name='lName' class="form-control">
        </div>
        <div class="input-group col s8">

          <span class="input-group-text" id="">Age</span>
          <input type="number" [(ngModel)]='pro.age' name='age' class="form-control">
          <span class="input-group-text" id="">Gender</span>
          <input type="text" [(ngModel)]='pro.gender' name='gender' class="form-control">
          <span class="input-group-text" id="">Major</span>
          <input type="text" [(ngModel)]='pro.major' name='major' class="form-control">
          <span class="input-group-text" id="">$/month</span>
          <input type="number" [(ngModel)]='pro.costPerMonth' name='costPerMonth' class="form-control">
        </div>
        <div class="input-group col s6">
          <span class="input-group-text">Drinking</span>
          <input type="checkbox" [(ngModel)] = 'pro.drinking' name='drinking' class="form-control">
          <span class="input-group-text">Smoking</span>
          <input type="checkbox" [(ngModel)] = 'pro.smoking' name='smoking' class="form-control">
          <span class="input-group-text">Pet Friendly</span>
          <input type="checkbox" [(ngModel)] = 'pro.petFriendly' name='petFriendly' class="form-control">
          <span class="input-group-text">Morning person</span>
          <input type="checkbox" [(ngModel)] = 'pro.morningPerson' name='morningPerson' class="form-control">
        </div>
        <P></P>
          <input type="submit" value="Search using info" class="btn btn-warning col s6">
        <p></p>
        <div class="alert alert-warning" role="alert">Contact Information (required to save info to an account)</div>
        <div class="input-group col s6">
            <span class="input-group-text">Email Address</span>
            <input type="text" [(ngModel)] = 'pro.email' name='email' class="form-control">
            <span class="input-group-text">Password</span>
            <input type="password" [(ngModel)] = 'pro.password' name='password' class="form-control">
        </div>
        <p></p>
          <input type="submit" value="Create an account" class="btn btn-success col s6">
        <p></p>
    </form>
  </div>
</div>
</body>
