
<body>

<div>
  First name: <input type="text" name="FirstName"><br>
  Last name: <input type="text" name="LastName"><br>
</div>

<div>
  Age: <input type="number" name="age" min="0" max="100"><br>
</div>

<div>
  Price Per Month: <input type="number" name="price" min="0" max="10000"><br>
</div>

<div>
  Do you Drink?   <input type="radio" name="Drinker" value="yes"> Yes<br>
                  <input type="radio" name="Drinker" value="no"> No<br>
</div>

<div>
  Gender: <input type="text" name="Gender"><br>
</div>

<div>
  Major: <input type="text" name="Major"><br>

    <input type="radio" name="Morning Person" value="yes"> Yes<br>
    <input type="radio" name="Morning Person" value="no"> No<br>

    <input type="radio" name="Pet Friendly?" value="yes"> Yes<br>
    <input type="radio" name="Pet Friendly?" value="no"> No<br>

    <input type="radio" name="Smoking?" value="yes"> Yes<br>
    <input type="radio" name="Smoking?" value="no"> No<br>
</div>

<div>
  <button type="button">Submit!</button><br>
</div>
</body>