<body>
<div class="card">
  <div class="card-content">
    <span class="card-title">Add Profile</span>
    <form (ngSubmit) = onSubmit() class="col s6">
        <div class="input-field col s6">
          <label for="lname">Last Name</label>
          <input type="text" placeholder="Add Last Name" [(ngModel)] = 'Profile.lname' name='lname'>
        </div>
        <div class="input-field col s6">
          <label for="fname">First Name</label>
          <input type="text" placeholder="Add First Name" [(ngModel)] = 'Profile.fname' name='fname'>
        </div>
        <div class="input-field col s6">
          <label for="age">Age</label>
          <input type="number" placeholder="Add Age" [(ngModel)] = 'Profile.age' name='age'>
        </div>
        <div class="input-field col s6">
          <label for="costPerMonth">Preferred Cost per Month</label>
          <input type="number" placeholder="Add costPerMonth" [(ngModel)] = 'Profile.costPerMonth' name='costPerMonth'>
        </div>
        <div class="input-field col s6">
          <label for="drinking">Drinking</label>
          <input type="checkbox" placeholder="Add drinking" [(ngModel)] = 'Profile.drinking' name='drinking'>
        </div>
        <div class="input-field col s6">
          <label for="gender">Gender</label>
          <input type="text" placeholder="Add gender" [(ngModel)] = 'Profile.gender' name='gender'>
        </div>
        <div class="input-field col s6">
          <label for="smoking">Smoking</label>
          <input type="checkbox" placeholder="Add smoking" [(ngModel)] = 'Profile.smoking' name='smoking'>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </div>
</div>
</body>
