<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{ title }}</title>
  </head>
  <body>
    <div class="container">
          <div class = "jumbotron bg-transparent">
              <div class="row justify-content-md-center">
            <div class="col-3">
              <img class="img-fluid" src="assets/images/HerdSearchLogo.png">
            </div>
            <div class="col-md-auto">
              <p></p>
              <p class="text-center display-4">Welcome to {{title}}!</p>
              <p></p>
              <div class="input-group">
                <span class="input-group-text" id="">Email</span>
                <input type="text" name='email' class="form-control">
                <span class="input-group-text" id="">Password</span>
                <input type="password" name='password' class="form-control">
              <button type="button" class="btn btn-success">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!--Functional Components-->

    <div class="container">
      <div class = "jumbotron col s6">
        <p class="text-left">
          Finding roommates in {{currentYear}} can be difficult. <br> As most of our lives are online and on social media platforms, it's difficult to meet new people face-to-face. <br> {{title}} is a free web-based service that allows NDSU students to easily find new roommates based on a list of criteria. <br> Below, you'll find all search criteria we use to find you the best roommates.
        </p>

        <div>
          <app-add-profile></app-add-profile>
        </div>
        <p></p>
        <div>
          <app-listings></app-listings>
        </div>
      </div>
    </div>


      <div class = "row">
        <div class="col s6">
        <div class="p-3 mb-2 text-dark">  
          <p class="text-center">Copyright © {{currentYear}} Vaughan Johnson, Nathan Marcotte, Theodore Oravec, Ryan Schirado, Samuel Silverberg</p>
        </div></div>
        
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>