<body>
  <div class="card">
    <div class="card-content">
      <form class="col s6">
        <p></p>
        <div class="alert alert-warning col s6" role="alert">Other Listings</div>
        <div class="card" *ngFor="let profile of profiles">
          <div class="card-body">
              <h2 class="card-title">{{profile.fName}} {{profile.lName}}</h2>
              <h6 class="card-subtitle mb-2 text-muted">Student of {{profile.major}}</h6>
               {{profile.age}} - {{profile.gender}} : Cost Per Month - {{profile.costPerMonth}} : Smoking - {{profile.smoking}} : Pet Friendly - {{profile.petFriendly}} : Drinking - {{profile.drinking}} : Morning Person - {{profile.morningPerson}}
               <button type="button" class="btn btn-success"><a href="mailto:{{profile.email}}" class="card-link text-white">Email me</a></button>
               
          </div>
        </div>
        <p></p>
      </form>
    </div>
  </div>
</body>
