<body>
    <div class="card">
        <div class="card-content">
    <div class="alert alert-warning col s6" role="alert">Other Listings</div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let profile of profiles">
          <div class="card">
            <div class="card-body">
              {{profile.fName}} {{profile.lName}} - {{profile.age}} - {{profile.gender}} : Cost Per Month - {{profile.costPerMonth}} : Smoking - {{profile.smoking}} : Pet Friendly - {{profile.petFriendly}} : Drinking - {{profile.drinking}} : Morning Person - {{profile.morningPerson}}
            </div>
          </div>
          
        </li>
      </ul>
    </div>
</div>
</body>
